RewriteEngine On

RewriteRule ^/?$ index.php
RewriteRule ^hrd/index?$ hrd/index.php

RewriteRule ^hrd/main?$ hrd/main.php
RewriteRule ^hrd/file/type?$ hrd/file/type.php
RewriteRule ^hrd/file/upload?$ hrd/file/upload.php
RewriteRule ^hrd/data/group?$ hrd/data/group.php
RewriteRule ^hrd/data/university?$ hrd/data/university.php
RewriteRule ^hrd/period/year/?$ hrd/period/year.php
RewriteRule ^hrd/divide/share?$ hrd/divide/share.php
RewriteRule ^hrd/divide/distribute?$ hrd/divide/distribute.php
RewriteRule ^hrd/edit/edit-share?$ hrd/edit/edit_share.php
RewriteRule ^hrd/edit/edit-distribute?$ hrd/edit/edit_distribute.php
RewriteRule ^hrd/report/report-supply?$ hrd/report/report_supply.php
RewriteRule ^hrd/report/report-demand?$ hrd/report/report_demand.php
RewriteRule ^hrd/report/report-hrd?$ hrd/report/report_hrd.php


RewriteRule ^User/Management/auther?$ User/Management/auther.php
