RewriteEngine On

RewriteRule ^/?$ index.php
RewriteRule ^User/Main?$ User/Main.php
RewriteRule ^User/Management/auther?$ User/Management/auther.php
RewriteRule ^User/Management/employee?$ User/Management/employee.php
RewriteRule ^User/Management/supplier?$ User/Management/supplier.php
RewriteRule ^User/Management/customer-status?$ User/Management/customer_status.php
RewriteRule ^User/Management/customer?$ User/Management/customer.php
RewriteRule ^User/Management/category?$ User/Management/category.php
RewriteRule ^User/Management/unit?$ User/Management/unit.php
RewriteRule ^User/Management/products?$ User/Management/products.php
RewriteRule ^User/Management/product-address?$ User/Management/product_addr.php
RewriteRule ^User/Management/brand?$ User/Management/brand.php
RewriteRule ^User/Management/rate?$ User/Management/rate.php
RewriteRule ^User/Report/report-employee?$ User/Report/report_employee.php
RewriteRule ^User/Report/report-customer?$ User/Report/report_customer.php
RewriteRule ^User/Report/report-supplier?$ User/Report/report_supplier.php
RewriteRule ^User/Report/report-product?$ User/Report/report_product.php
RewriteRule ^User/Report/report-stock?$ User/Report/report_stock.php
RewriteRule ^User/Report/report-check-stock?$ User/Report/report_check_stock.php
RewriteRule ^User/Report/report-warehouse?$ User/Report/report_warehouse.php
RewriteRule ^User/Report/report-distribute?$ User/Report/report_distribute.php
RewriteRule ^User/Report/report-product-putback?$ User/Report/report_product_putback.php
RewriteRule ^User/Form/accept?$ User/Form/accept.php
RewriteRule ^User/Form/form?$ User/Form/form.php
RewriteRule ^User/Form/formdetail?$ User/Form/formdetail.php
RewriteRule ^User/Import/import?$ User/Import/import.php
RewriteRule ^User/Form/distribute?$ User/Form/distribute.php
RewriteRule ^User/Form/product-putback?$ User/Form/product_putback.php
RewriteRule ^User/Check/check-stock?$ User/Check/check_stock.php
RewriteRule ^User/Spare/spare-part?$ User/Spare/spare_part.php



RewriteRule ^User/Management/test3?$ User/Management/test3.php
RewriteRule ^User/Management/test2?$ User/Management/test2.php
RewriteRule ^User/Management/test?$ User/Management/test.php